anyio==3.6.2
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
asttokens==2.2.1
attrs==22.1.0
autopep8==2.0.1
Babel==2.10.3
backcall==0.2.0
bcrypt==3.2.2
Beaker==1.10.0
beautifulsoup4==4.11.1
black==22.12.0
bleach==5.0.1
blessed==1.19.1
blessings==1.7
blivet==3.5.0
blivet-gui==2.4.0
bpython==0.24
Brlapi==0.8.4
Brotli==1.0.9
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.0
click==8.1.3
contourpy==1.0.6
cryptography==37.0.2
cupshelpers==1.0
curtsies==0.4.1
cwcwidth==0.1.4
cycler==0.11.0
Cython==0.29.33
dasbus==1.6
dbus-python==1.3.2
debugpy==1.6.4
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.6
distro==1.7.0
Django==4.1.5
docker==5.0.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.2
fedora-third-party==0.10
ffmpeg==1.4
file-magic==0.4.0
filelock==3.8.0
fonttools==4.38.0
fros==1.1
future==0.18.3
gpg==1.17.0
greenlet==1.1.2
gssapi==1.7.3
humanize==3.13.1
icoextract==0.1.4
idna==3.3
imageio==2.23.0
imageio-ffmpeg==0.4.7
initial-setup==0.3.95
ipykernel==6.17.1
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.3
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
koji==1.31.1
langtable==0.0.61
libcomps==0.1.18
lxml==4.9.1
Mako==1.1.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
menulibre==2.3.0
mistune==2.0.4
MouseInfo==0.1.3
moviepy==1.0.3
mutagen==1.45.1
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.5.6
nftables==0.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.0
olefile==0.46
packaging==21.3
pandas==1.5.2
pandocfilters==1.5.0
paramiko==2.12.0
parso==0.8.3
Paste==3.5.0
pathspec==0.10.2
patool==1.12
pefile==2022.5.30
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
Pillow==9.2.0
platformdirs==2.5.4
ply==3.11
productmd==1.33
proglog==0.1.10
progressbar2==3.53.2
prometheus-client==0.15.0
prompt-toolkit==3.0.33
psutil==5.9.1
ptyprocess==0.6.0
pure-eval==0.2.2
pwquality==1.4.5
pyasn1==0.4.8
PyAutoGUI==0.9.53
pycairo==1.21.0
pycodestyle==2.10.0
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.16.0
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
PyGetWindow==0.0.9
pygit2==1.7.1
Pygments==2.13.0
PyGObject==3.42.2
pykickstart==3.41
PyMsgBox==1.0.9
PyNaCl==1.4.0
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-sip==12.11.0
PyRect==0.2.0
pyrsistent==0.19.2
PyScreeze==0.1.28
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-gettext==4.0
python-manatools==0.0.4
python-meh==0.50
python-utils==3.1.0
python-xlib==0.31
python3-xlib==0.15
pytweening==1.0.4
pytz==2022.7.1
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
regex==2022.10.31
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
rpm==4.18.0
rpmautospec==0.3.1
selinux==3.4
Send2Trash==1.8.0
sepolicy==3.4
setools==4.4.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.0
sos==4.4
soupsieve==2.3.2.post1
sqlparse==0.4.3
stack-data==0.6.2
systemd-python==235
Tempita==0.5.2
termcolor==2.2.0
terminado==0.17.1
texttable==1.6.4
tinycss2==1.2.1
tornado==6.2
tqdm==4.64.1
traitlets==5.6.0
urllib3==1.26.12
virtualenv==20.17.0
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.3
widgetsnbextension==4.0.3
yt-dlp==2023.1.6
